.footer-container {
  padding: 1rem;
  background-color: #212529;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.rectangle {
  display: inline-block;
  max-width: 100%;
  width: 1200px;
  max-height: 100%;
  height: 450px;
  background: white;
  border-radius: 10px;
}

.card-container {
  color: white;
  position: "absolute";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
}

.cardbody-container {
  background: #31363b;
}

.device-container {
  background: #212529;
  color: #606a74;
  border-radius: 20px;
  padding: 0.1rem;
  padding-inline: 0.5rem;
  font-weight: 400;
}

#device-icon {
  height: 20px;
  margin-bottom: 0.3rem;
  margin-inline: 0.1rem;
}
.action-btn {
  padding: 2px;
  background: #50585f;
  border-radius: 10px;
}

.btn {
  padding-left: 0px;
}
