.footer-container {
  padding: 1rem;
  background-color: #212529;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.rectangle {
  display: inline-block;
  max-width: 100%;
  width: 1400px;
  max-height: 100%;
  height: 420px;
  background: white;
}

.card-container {
  color: white;
  width: 98%;
  margin-top: 1%;
  margin-right: 2%;
}

.cardbody-container {
  background: #31363b;
  width: 100%;
  height: 100%;
}

.device-container {
  background: #212529;
  color: #606a74;
  padding: 0.1rem;
  padding-inline: 0.5rem;
  font-weight: 400;
  border-radius: 20px;
}

#device-icon {
  height: 20px;
  margin-bottom: 0.3rem;
  margin-inline: 0.1rem;
}

.btn {
  height: 55px;
  width: 70px;
}

.action-btn {
  background: #50585f;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
